/* --- Branding --- */
$brand-first: #009BAA;
$brand-second: #FFF587;
$brand-third: #00374C;

/* --- Fifty shades of grey --- */
$grey-dark: #4B4B4B;
$grey-strong: #858585;
$grey-medium: #AAAAAA;
$grey-soft: #EEEEEE;
$grey-light: #FFFFFF;

/* --- Gradiant --- */
$gradiant-dark: #002C3C;
$gradiant-strong: #0B6480;
$gradiant-medium: #00BBB8;
$gradiant-soft: #00F5F8;
$gradiant-light: #B7F1F4;

/* --- UI --- */
$ui-primary: #00BBB8;
$ui-primary-alt1: #00374C;
$ui-primary-alt2: #00374C;
$ui-secondary: #FFF587;
$ui-secondary-alt1: #FFE665;
$ui-secondary-alt2: #FFE665;

/* --- System ---*/
$system-info: #7DFFE9;
$system-warning: #EDED89;
$system-success: #86F6A9;
$system-error: #FF9999;
