/* --- FontFace --- */
@font-face {
    font-family: "Univers-regular";
    src:    url("/assets/fonts/univers-condensed-light.woff2"),
            url("/assets/fonts/univers-condensed-light.woff")
}
$base-font: "Univers-regular", "Helvetica Neue", Helvetica, Arial, sans-serif;

@font-face {
    font-family: "Univers-heavy";
    src:    url("/assets/fonts/univers-condensed-light.woff2"),
            url("/assets/fonts/univers-condensed-light.woff");
}
$heavy-font: "NeueHaasUnicaProHeavy", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* --- Classical declaration --- */
body{
    font-family: $base-font;
}

h1,
h2,
h3,
h4,
h5{
    font-family: $heavy-font;
}

/* --- Font sizes --- */
$title-font-size-xl: 9rem;
$title-font-size-m: 5rem;
$title-font-size-s: 3.8rem;

$text-font-size-xl: 2.1rem;
$text-font-size-m: 1.6rem;
$text-font-size-s: 1.2rem;
