// Header
.page-header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    .header-content{
        position: relative;
        min-height: 200px;
    }
}

.logo-link{
    display: block;
    position: absolute;
    top: 100px;
    left: $rel-gutter-s;
}

.logo-visual{
    width: 300px;
}

/* --- Large screen specifications --- */
@media screen and (min-width: $screen-large){

}

/* --- Tablet specifications --- */
@media screen and (max-width: $screen-medium){

}

/* --- Phone specifications --- */
@media screen and (max-width: $screen-small){

}
